*{
    background-color: #a8a8a8;
}

.skip a {
    /* position: absolute;
    top: 0;
    z-index: index;
    color: ; */
    left:-999px;
    position:absolute;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
    z-index:-999;
}
.skip a:focus{
    /* top: 0;
    color:; */
    color: #000000;
    background-color:#ffffff;
    left: auto;
    top: auto;
    width: 30%;
    height: auto;
    overflow:auto;
    margin: 10px 35%;
    padding:5px;
    text-align:center;
    font-size:1.2em;
    z-index:999;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
li{
    float: left;
}
li a{
    display: block;
    color: #ffffff;
    background-color: #333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Helvetica, serif, sans-serif;
}
  /* Change the link color to #111 (black) on hover */
li a:hover{
    background-color: #111;
}

h3{
    /* text-align: 0; */
    font-size: 48px;
    font-family: Helvetica, serif, sans-serif;
    color: #ffffff;
    background-color: #333;
    padding: 15px;
}
p{
    margin: 10px 5%;
    font-size: 14px;
    padding: 0px 0px 15px 15px;
}

.container {
    float: left;
    max-width:50vw;
    height: 250px;
    position: relative;
    margin:0 auto;
    object-fit: cover;
    overflow:hidden;
}
.image{
    display: block;
    width:  auto;
    height: 250px;
}
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #000000;
}

.container:hover .overlay {
    opacity: 0.5;
}

.text {
    background-color: transparent;
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    /* -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%); */
    transform: translate(-50%, -50%);
    text-align: center;
}