.skip a {
    /* position: absolute;
    top: 0;
    z-index: index;
    color: ; */
    left:-999px;
    position:absolute;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
    z-index:-999;
}
.skip a:focus{
    /* top: 0;
    color:; */
    color: #000000;
    background-color:#ffffff;
    left: auto;
    top: auto;
    width: 30%;
    height: auto;
    overflow:auto;
    margin: 10px 35%;
    padding:5px;
    text-align:center;
    font-size:1.2em;
    z-index:999;
}

head{
    background-color: #a8a8a8;
}
body{
    background-color: #a8a8a8;
}
main{
    background-color: #a8a8a8;
}
footer{
    background-color: #a8a8a8;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
li{
    float: left;
}
li a{
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Helvetica, serif, sans-serif;
}
  /* Change the link color to #111 (black) on hover */
li a:hover{
    background-color: #111;
}

/* Centered text */

.container .centered{
    background-color: none;
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    color: #ffffff;
    /* background-color: #ffffffb0; */
    font-family: Helvetica, serif, sans-serif;
    text-align: center;
    border: 2px solid #111111;
    padding: 10px;
    /*
      move the (positioned) element up and left
      by half its own width/height
    */
    transform: translate(-50%, -50%);
}

.container img{
    width: 100vw;
}

.container{
    position: relative;
    /* background-size: cover;
    background-repeat: no-repeat; */
    /* text-align: center; */
    color: #333;
  }
